<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    {% if post.image %}
      <figure class="posts__img">
        <a href="{{ post.image }}" class="progressive replace">
            <img src="{{ post.preview_image }}" class="preview" alt="{{ post.title }}" data-aos="fade-in" itemprop="image"/>
          </a>
      </figure>
    {% endif %}
    <div dir="{{ post.direction }}">
      <center>
      <h2 class="posts__text"><strong itemprop="name" dir="auto">{{ post.title }}</strong></h2>
      <h2 class="posts__text"><span itemprop="description" dir="auto">{{ post.description | strip_html | truncatewords: 35, "" }}</span></h2>
      </center>
    </div>
  </a>
</article>
